openapi: 3.0.0
paths:
  /health:
    get:
      operationId: HealthController_getHealth
      parameters: []
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponseDto'
      tags:
        - Health
  /heroes/{id}:
    get:
      operationId: HeroesController_getById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: ''
      tags:
        - Heroes
info:
  title: Nest.js - gRPC - Template
  description: Nest.js - gRPC - Template
  version: '1.0'
  contact: {}
tags:
  - name: gRPC
    description: ''
servers: []
components:
  schemas:
    HealthResponseDto:
      type: object
      properties:
        status:
          type: string
      required:
        - status
